@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Lato:wght@300&family=Poppins:ital,wght@0,100;1,300;1,400;1,500;1,700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Roboto:wght@300;400;500&display=swap');

:root{
    --font: 'Inter', sans-serif;
    --columns-card: repeat(5, 1fr);
    --contact-rows: repeat(8, 1fr);
    --color-primary: #4949d8;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 0;
}

.card{
    max-width: 1000px;
    width: 90%;
    display: grid;
    grid-template-columns: var(--columns-card);
    grid-template-rows: var(--contact-rows);
}

.card::after{
    content: "";
    background: red;
    grid-column: 1/4;
    grid-row: 1/-1;
    background-image: url(work1.jpg);
    z-index: -1;
}

.card__content{
    grid-column: 3/-1;
    grid-row: 2/-2;
    padding: 30px;
    background: var(--color-primary);
    color: #fff;
}

.card__title{
    font-size: 2rem;
    margin-bottom: 20px;
}

.card__description{
    margin-bottom: 20px;
    line-height: 1.5;
}

.cta{
    display: inline-block;
    background: #fff;
    color: var(--color-primary);
    padding: 18px 45px;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .card::after{
        grid-column: 1/-2;
    }

    .card__content{
        grid-column: -1/2;
    }
}

@media screen and (max-width: 425px){
    :root{
        --columns-card: 1fr;
        --columns-rows: 1fr 1fr;
    }

    .card::after, .card__content{
        grid-column: span 1;
        grid-row: span 1;
    }

    
}