

h2{
    color: steelblue;
}

nav{
    border: 1px solid black;
}

.titulo-borde{
    border: 1px solid black;
}

.alex {
    border: 1px solid black;
}

#section{
    border: 1px solid black;
}

.titulo{
    text-align: center;
}

.😀{
    border: 1px solid black;
    font-size: 20px;
}

[href]{ /*cualquier atributo href */
    text-decoration: none;
}


[href="https://alexcdesign.com/inicio"]{ /*Especificamente el atributo href con el link especificado*/
    color: darkred;
}

[href*="alexcgdesign"]{ /*Que tenga el valor alexcgdesign en cualquier orden del atributo href*/
    background: darksalmon;
}

[href^="hsttps"]{ /*solo selecciona los elementos PRINCIPIO con valor hsttps en el atributo href*/
    color: darkgreen;
}

[href$="org"]{ /*que coincida al FINAL el valor org del atributo href*/
    background: steelblue;
    color: white;
}