*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
}

.grid{
    max-width: 700px;
    width: 90%;
    height: 500px;
    margin: 20px auto;
    outline: 3px solid #000;
    display: grid;
    /* grid-auto-flow: column; */
    /* align-items: stretch; */
    /* row-gap: 20px;
    column-gap: 20px; */
    /* gap: row column */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    /* grid-auto-flow: column dense; */
    /* grid-auto-flow: column;
    grid-auto-columns: 1fr 2fr;
    grid-auto-rows: 1fr; */
}

.grid__item{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    background: crimson;
}

.grid :nth-child(1){
    background: crimson;
    /* grid-row: 3; */
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5; */
    /* grid-column: 3/5;
    grid-row: 3/5; */
}

.grid :nth-child(2){
    background: darkmagenta;
    /* grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: span 2; */
}

.grid :nth-child(3){
    background: steelblue;
    /* grid-column: span 2;
    grid-row: span 3; */
    /* grid-column: 2/span 3;
    grid-row: 1/span 3; */
    /* grid-row: 3; */
    /* grid-column: 1/-2;
    grid-row: 3/-1; */
    /* grid-area: row-start column-start row-end column-end */
    /* grid-area: 2/2/4/5; */
}

.grid :nth-child(4){
    background: brown;
    /* grid-column: span 2; */
}

.grid :nth-child(5){
    background: chocolate;
}

.grid :nth-child(6){
    background: midnightblue;
}

