/* magicpattern.design/tools/css-backgrounds */

@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Inter:wght@100;300;400;700&family=Kosugi&family=Lato:wght@300&family=Montserrat:wght@300;400&family=Playfair+Display&family=Poppins:ital,wght@0,100;1,300;1,400;1,500;1,700&family=Prata&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Estonia', cursive;
    display: flex;
    min-height: 100vh;
    font-size: 1.5rem;
}

.book{
    width: 410px;
    height: 500px;
    background: #e0e0e4;
    background-color: #E0E0E4;
    background-size: 40px 40px;
    background-image:  repeating-linear-gradient(0deg, #000000, #000000 1.5px, #E0E0E4 1.5px, #E0E0E4); 
    padding: 45px 0 45px 70px;
    margin: auto;
    border: 1px solid #000;
    position: relative;
}

.book__img{
    width: 100px;
    height: 100px;
    top: -50px;
    right: -50px;
    position: absolute;
    transform: rotate(360deg) scale(0);
    animation: image .5s 5s forwards;
}

.book__title{
    font-size: 2rem;
    margin-top: 35px;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: show 5s forwards;
}

@keyframes show{
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes image {
    100%{
        transform: rotate(0) scale(1);
    }
}

.book__paragraph{
    /* font-size: 1.3rem; */
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: show 2s 3s forwards;
}

.line{
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50px;
    background-color: crimson;
}

.circle{
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 85px;
    left: 10px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 160px, 0 320px;
}

.line-h{
    background: rgb(113, 113, 113);
    background: linear-gradient(270deg, rgba(113, 113, 113, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(186, 186, 186,1) 100%);
    position: absolute;
    width: 50px;
    height: 15px;
    top: 95px;
    left: -25px;
    border-radius: 50px;
}

.line-h::before{
    content: "";
    background: rgb(113, 113, 113);
    background: linear-gradient(270deg, rgba(113, 113, 113, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(186, 186, 186,1) 100%);
    position: absolute;
    width: 50px;
    height: 15px;
    top: 160px;
    border-radius: 50px;
}

.line-h::after{
    content: "";
    background: rgb(113, 113, 113);
    background: linear-gradient(270deg, rgba(113, 113, 113, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(186, 186, 186,1) 100%);
    position: absolute;
    width: 50px;
    height: 15px;
    top: 320px;
    border-radius: 50px;
}