*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.enlaces{
    display: inline-block;
    text-decoration: none;
    background: crimson;
    color: white;
    margin: 0 auto;
    padding: 30px 20px;
}

.block{
    opacity: 0.5;
}

.header{
    height: 400px;
    background: crimson;
    color: white;
    font-family: Arial;
    border: 5px solid black;
    padding: 10px;
    height: 300px;
    height: 200px;
    text-align: center;
}

body>header>h2.title#title{
    font-size: 40px;
}

/*
1000 - inline css
100 - ID
10 - class atributes
1 - Elemento 
*/

.title{
    font-size: 25px;
    border: inherit;
    padding: inherit;
    font-family: Helvetica;
    text-align: initial;
    color: initial;
}


